# Go
/bin/
/dist/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
coverage.out

# Node
node_modules/

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/

data/app.db
web/static/images

# OS
.DS_Store
