package public

import "github.com/joseyanez/dummies-app/internal/home/views/layout"
import "github.com/joseyanez/dummies-app/internal/products/models"
import "fmt"


templ PublicListProductsPage(products []*models.Product, page int) {
  @layout.HomeLayout("Productos") {
    <h1 class="text-bluemmy-500 font-playpen text-3xl font-bold my-6">¡Mira los productos de hoy!</h1>
    <div id="product-content" class="w-full grid gap-4 mb-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
      for _, product := range products {
        {{
          prodSrcs := product.ImagesToSrcs("/static/images")
        }}
        <div id="product-item" class="p-4 rounded-md shadow-md shadow-bluemmy-200 bg-white">
          <div>
          if len(prodSrcs) > 0 {
            for src, srcset := range prodSrcs {
              <img src={"/static/images/" + src} srcset={srcset} alt={product.Title} class="w-full sm:h-60 lg:h-80 object-cover rounded-md mb-4"/>
              {{break}}
            }
          } else {
            <div class="w-full h-48 bg-gray-200 rounded-md mb-4 flex items-center justify-center">
              <span class="text-gray-500">No Image</span>
            </div>
          }
          </div>
          <h2 class="text-lg font-semibold mb-2">{product.Title}</h2>
          <p class="text-gray-600 mb-2">{product.Description}</p>
          <p class="text-gray-800 font-bold mb-2">${product.Price}</p>
        </div>
      }
      <div id="button-content" class="p-4 rounded-md shadow-md shadow-bluemmy-200 bg-white flex justify-center items-center">
        <button
          hx-target="closest div"
          hx-swap="outerHTML"
          hx-select="#product-content > div"
          hx-get={"/products?page=" + fmt.Sprintf("%d", page + 1)}
          class="px-4 py-2 rounded-full bg-bluemmy-500 text-white cursor-pointer hover:bg-bluemmy-600"
        >
          Cargar más
        </button>
      </div>
    </div>
  }
}
