package public

import "github.com/joseyanez/dummies-app/internal/home/views/layout"
import "github.com/joseyanez/dummies-app/internal/products/models"

templ PublicViewProductPage(product *models.Product) {
  if product == nil {
    @layout.HomeLayout("Producto no encontrado"){
      <h1 class="text-bluemmy-500 font-playpen text-3xl font-bold my-6">Este producto no fue encontrado</h1>
    }
  } else {
    @layout.HomeLayout(product.Title){
      {{
        firstImage, _ := product.GetOneAndOtherImages("/static/images")
      }}
      <div class="flex w-full flex-col lg:flex-row gap-4 mt-4 p-2">
        for name, srcset := range firstImage {
          <div class="sm:w-1/2 sm:m-auto lg:w-full lg:flex-1">
            <img
              src={name}
              srcset={srcset}
              alt={name}
            >
          </div>
          
        }
        <div class="lg:flex-2 flex flex-col items-start">
          <h1 class="text-bluemmy-500 font-playpen text-3xl font-bold my-4">{product.Title}</h1>
          if product.Description != ""{
            <p class="text-gray-400 font-fredoka text-md whitespace-pre-line">{product.Description}</p>
          }
          if product.Price != 0 && product.Available != false {
            <p class="text-bluemmy-500 font-playpen text-2xl mt-4 font-bold">S/.{product.Price}</p>
          }
          if product.Available == false {
            <p class="text-red-500 font-playpen text-xl mt-4 font-bold">Agotado</p>
          }
          <div class="mt-4">
            <a 
              href="https://wa.me/51935220199?text=Hola%2C%20quiero%20más%20información"
              class="py-2 px-4 rounded-full bg-bluemmy-500 text-white font-fredoka"
            >
              Me interesa el producto!
            </a>
          </div>
        </div>
      </div>
    }
  }
}
