package pages

import "github.com/joseyanez/dummies-app/internal/common/views/layouts"
import "github.com/joseyanez/dummies-app/internal/products/views/components/form"

templ CreateProductPage(values, errors map[string]string) {
  @layouts.AdminLayout("Crear nuevo producto"){

    <h1 class="text-3xl font-bold mt-4 mb-6">Crear nuevo producto</h1>

    <form class="lg:w-2/5" action="/admin/products" method="POST" enctype="multipart/form-data">

      if errors["form"] != "" {
        <div class="p-4 my-4 text-md bg-red-100 rounded-md border border-md border-red-500 text-red-700">
          { errors["form"] }
        </div>
      }

      <div class="mb-6 flex flex-col gap-1">
        <label for="#in_title" class="font-bold">Título</label>
        <input 
          class="p-2 border border-gray-400 rounded-md focus:outline-0 focus:ring focus:ring-bluemmy-400" 
          type="text" id="in_title" name="title" value={ values["title"] }>
        if errors["title"] != "" {
          <span class="text-sm text-red-500 mx-2">{errors["title"]}</span>
        }
      </div>

      <div class="mb-6 flex flex-col gap-1">
        <label for="#in_title" class="font-bold">Descripción</label>
        <textarea class="p-2 border border-gray-400 max-h-40 rounded-md focus:outline-0 focus:ring focus:ring-bluemmy-400" name="description" id="in_description">
          { values["description"] }
        </textarea>
        if errors["description"] != "" {
          <span class="text-sm text-red-500 mx-2">{errors["description"]}</span>
        }
      </div>

      <div class="mb-8 flex flex-col gap-1">
        <label for="#in_title" class="font-bold">Precio</label>
        <div class="flex flex-row gap-2 items-center">
          <input class="p-2 border border-gray-400 rounded-md w-1/3 focus:outline-0 focus:ring focus:ring-bluemmy-400" 
          type="number" min="0" step="0.01" id="in_price" name="price" value={ values["price"] }>
        if errors["price"] != "" {
          <span class="text-sm text-red-500 mx-2">{errors["price"]}</span>
        }
        </div>
      </div>

      @form.ImageForm()

      <div class="flex flex-row justify-end">
        <button class="bg-bluemmy-500 text-white font-bold px-4 py-2 rounded cursor-pointer hover:bg-bluemmy-600">Guardar</button>
      </div>

    </form>
  }
}
