package pages

import "github.com/joseyanez/dummies-app/internal/common/views/layouts"

templ ListProductsPage() {
  @layouts.AdminLayout("Mis productos"){
    <h1 class="text-2xl font-bold my-4">Lista de productos</h1>
    <div class="flex justify-end my-4">
      <a href="/admin/products/create"
        class="bg-bluemmy-500 hover:bg-bluemy-700 text-white font-bold py-1 px-2 rounded"
      >
        Nuevo producto
      </a>
    </div>
  }
}
