package pages

import "github.com/joseyanez/dummies-app/internal/common/views/layouts"
import "github.com/joseyanez/dummies-app/internal/products/models"

templ ListProductsPage(products []*models.Product) {
  @layouts.AdminLayout("Mis productos"){
    <h1 class="text-3xl font-bold mt-4 mb-6">Lista de productos</h1>
    <div class="flex justify-end my-4">
      <a href="/admin/products/create"
        class="bg-bluemmy-500 hover:bg-bluemmy-700 text-white font-bold py-1 px-2 rounded"
      >
        Nuevo producto
      </a>
    </div>
    if products != nil {
      <div>
        for _, prod := range products {
          <li>Producto: {prod.Title}</li>
        }
      </div>
    }
  }
}
